body {
    background-image: url("images/remnantbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

section {
    margin: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

/* General Styling for Divs */
#container, #weaponry {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#container > div, #weaponry > div, #traitinfo > div, section > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

/* Classes */
div.classes {
    border: 10px solid green;
}

#classoption0, #classoption1 {
    width: 125px;
    height: 25px;
}

/* Armor */
div.armoroption {
    width: 250px;
    border: 10px solid blue;
}

/* Relics */
div.relics {
    width: 375px;
    border: 10px solid yellow;
}

/* Accessories */
div.accessories {
    width: 375px;
    border: 10px solid orange;
}

/* Melee */
div.melee {
    width: 330px;
    border: 10px solid cyan;
}

/* Traits */
div.traits {
    width: 100%;
    max-width: 1820px;
    border: 10px solid black;
    margin: 0 auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Weaponry */
div.longgun, div.handgun {
    width: 500px;
    border: 10px solid red;
}

/* Randomize Button */
#randomize {
    display: block;
    margin: 0 auto;
    width: 10em;
}
